body {
    background-color: white;
  }
  
  h1 {
    color: green;
    text-align: left;
  }
  
  h2 {
    color: green;
    text-align: left;
  }

  p {
    color: limegreen
    ;
    font-size: 25px;
    text-align: left;
  }